body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ff0000, #ff7f00);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-box {
  position: relative;
  width: 400px;
  max-width: 500px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  animation: fadeIn 1.5s ease-in-out;
}

.login-box h2 {
  margin: 0 0 20px;
  color: #fff;
}

.input-box {
  position: relative;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  padding: 10px 0;
  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  color: #fff;
  font-size: 18px;
  transition: 0.2s;
}

.input-box label {
  position: absolute;
  top: 10px;
  left: 0;
  pointer-events: none;
  color: #fff;
  transition: 0.2s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -20px;
  font-size: 12px;
  color: #03a9f4;
}

.btn {
  background: #03a9f4;
  border: none;
  padding: 10px 40px;
  border-radius: 30px;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  transition: 0.2s;
  margin-top: 20px;
}

.btn:hover {
  background: #039be5;
}

.link-text {
  margin-top: 20px;
  color: #fff;
}

.link-text a {
  color: #03a9f4;
  text-decoration: none;
}

.link-text a:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
  .login-box {
    padding: 10px;
  }
}

.g-signin2 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 600px) {
  .login-box {
    font-size: 15px;
  }
}
